.layout {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 250px;
  background: #1e293b;
  color: white;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  overflow-y: auto;
  background: #f8fafc;
}